body {
    box-sizing: border-box;
    margin: 0;
    display: block;
    background: #e6e6e6;
}

div {
    display: block;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
}

.tbody-page {
    background: white;
}

.header {
    padding: 10px 10px 10px 10px;
    margin: 0px;
    background-color: rgb(255, 204, 0);
}

table {
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    font-style: normal;
}

.title, .author {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #fff;
}

.coordinates-picker-title {
    margin-bottom: 50px;
}

.coordinates-picker-quiz {
    margin: 15% 15px auto;
}

.author {
    text-align: right;
}

.header .logo-options {
    text-align: center;
    margin: 0px;
}

.header input {
    max-width: 25%;
}

.header input {
    transition: 0.2s;
}

.header input:hover {
    transform: scale(1.2);
}

.task > table {
    border-spacing: 1em;
    border-collapse: separate;
    font-family: sans-serif;
    font-style: normal;
}

.results-table table {
    border-spacing: 1em;
    background: aqua;
    border-collapse: separate;
}

.area-title {
    display: inline-block;
    width: 100%;
    background: rgb(255, 204, 0);
    margin: 0;
}

.coordinates-picker-title {
    display: inline-block;
    width: 100%;
    background: rgb(255, 204, 0);
    margin: 0;
}

h2 {
    text-align: center;
}

.table-header {
    height: 2em;
}

.results-title {
    display: inline-block;
    width: 100%;
    background: rgb(255, 204, 0);
    margin: 0;
}

.task td {
    border-width: 2px;
    vertical-align: top;
}

.r button {
    padding: 7px 25px;
    background: rgb(255, 204, 0);
    border: 1px solid black;
}

.r button:hover {
    background: rgb(255, 225, 103);
}

.r button:focus {
    background: rgb(216, 173, 1);
}

.headline {
    text-align: center;
    font-family: sans-serif;
    font-style: normal;
}

.check {
    text-align: center;
}

.check button {
    padding: 5px 14px;
    background: rgb(0, 154, 255);
    border-radius: 18px;
    border-spacing: 1em;
}

.reset {
    margin-left: 10px;
}

.check button:hover {
    background: rgb(0, 173, 255);

}

svg text {
    margin-top: auto;
    margin-bottom: auto;
}

.check button:active {
    background: rgb(0, 76, 255);
}

.coordinates-picker {
    background: white;
}

.checkboxes {
    background-color: rgb(232, 232, 232);
}

.inscription{
    font-size:5px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
}

svg {
    width: 300px;
    height: 300px;
}

.r input {
    padding: 7px 25px;
    background: rgb(255, 204, 0);
    border: 1px solid black;
}

.r input:hover {
    background: rgb(255, 225, 103);
}

.r input:focus {
    background: rgb(216, 173, 1);
}

.page-thead {
    padding: 10px 10px 10px 10px;
    margin: 0px;
    background-color: rgb(255, 204, 0);
}

.graph-head {
    margin-right: 100px;
}

.page-tbody td {
    background: white;

}

.inner-info {
    padding: 50px;
}

.page-table {
    border-collapse: separate;
    border-spacing: 100px 0;
}

.text-box {
    text-align: center;
}